/cLeapp-Autopsy-Plugin/build/
/cLeapp-Autopsy-Plugin/nbproject/private/
/Prefetch_File_Viewer/nbproject/private/
/Prefetch_File_Viewer/build/
/LNK_File_Viewer/nbproject/private/
/LNK_File_Viewer/build/
/org.sleuthkit.autopsy.modules.vleappanalyzer/nbproject/private/
/vLeapp-Autopsy-Plugin/nbproject/private/
/vLeapp-Autopsy-Plugin/build/
